<footer class="footer bg-light pt-5">
    <div class="container">
        
        <div class="row">
            <div class="col-md-3 mb-4">
                <a href="#" class="d-flex align-items-center text-decoration-none">
                    <img src="/assets/HLogo1.png" alt="Medicam Logo" class="logo-footer">
                    <span class="h5 text-primary ms-2">Medicam</span>
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h5>COMPANY</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Apothart</a></li>
                    <li><a href="#">Customer speak</a></li>
                    <li><a href="#">In the News</a></li>
                    <li><a href="#">Terms And Condition</a></li>
                    <li><a href="#">Privacy and Policy</a></li>
                    <li><a href="#">Fee and Payment Policy</a></li>
                    <li><a href="#">Shipping and Delivery Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>COMPANY</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Browse A-Z</a></li>
                    <li><a href="#">Browse by Manufacturer</a></li>
                    <li><a href="#">Offers / Coupons</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>SOCIALS</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">YouTube</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Refer and earn</a></li>
                </ul>
            </div>

            <div class="col-md-3">
                <h5>EMAIL</h5>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" placeholder="Enter your email address">
                    <button class="btn btn-outline-secondary" type="submit">&#10132;</button>
                </form>
            </div>
        </div>
    </div>
</footer>
