<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img class="image1" src="/assets/HLogo1.png" alt="No se pudo cargar la imagen">
    </a>
  
    <div class="move">
      <a href="#" class="link">Doctors</a>
      <a href="#" class="link">Specialities</a>
      <a href="#" class="link">About</a>
    </div>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link">SignUp</a></li>
    </ul>
  </header>
  